.container {
  padding: 30px;
  padding-top: 2px;
}

#right-text {
  text-align: right;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 1.4em;
  line-height: 1.6;
}

body {
  background-color: #2F2F2F;
  font-family: 'Nunito Sans', sans-serif;
  /* color: #FCE12F; */
  color: #f7205d;
  font-size: 1.4em;
}

.jumbotron {

    background-image: url("https://www.freeiconspng.com/uploads/palm-tree-png-32.png");
    /* color: #ff0080; */
    color: #f7205d;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80%;
    background-color: #8ad8b8;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    font-weight: 800;
}


.congrats {
  font-size: 3.9em;
}

.white {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3em;
}

.btn {
  background-color: #FCE12F;
  color: #2F2F2F;
}

#firstAnswer {
  display: none;
}

#secondAnswer {
  display: none;
}

#thirdAnswer {
  display: none;
}

#fourthAnswer {
  display: none;
}
